<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>player_daoL_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,55}</string>
                <key>spriteSourceSize</key>
                <string>{42,55}</string>
                <key>textureRect</key>
                <string>{{609,58},{42,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_daoL_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,55}</string>
                <key>spriteSourceSize</key>
                <string>{42,55}</string>
                <key>textureRect</key>
                <string>{{632,1},{42,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_daoL_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,55}</string>
                <key>spriteSourceSize</key>
                <string>{42,55}</string>
                <key>textureRect</key>
                <string>{{653,58},{42,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_daoL_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,57}</string>
                <key>spriteSourceSize</key>
                <string>{42,57}</string>
                <key>textureRect</key>
                <string>{{386,1},{42,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_daoL_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,56}</string>
                <key>spriteSourceSize</key>
                <string>{44,56}</string>
                <key>textureRect</key>
                <string>{{532,1},{44,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_dao_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,55}</string>
                <key>spriteSourceSize</key>
                <string>{52,55}</string>
                <key>textureRect</key>
                <string>{{1,70},{52,55}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player_dao_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,55}</string>
                <key>spriteSourceSize</key>
                <string>{52,55}</string>
                <key>textureRect</key>
                <string>{{58,70},{52,55}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player_dao_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,55}</string>
                <key>spriteSourceSize</key>
                <string>{42,55}</string>
                <key>textureRect</key>
                <string>{{676,1},{42,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_dao_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,57}</string>
                <key>spriteSourceSize</key>
                <string>{51,57}</string>
                <key>textureRect</key>
                <string>{{169,63},{51,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_dao_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,56}</string>
                <key>spriteSourceSize</key>
                <string>{48,56}</string>
                <key>textureRect</key>
                <string>{{482,1},{48,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_dao_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,55}</string>
                <key>spriteSourceSize</key>
                <string>{42,55}</string>
                <key>textureRect</key>
                <string>{{697,58},{42,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_dao_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,55}</string>
                <key>spriteSourceSize</key>
                <string>{42,55}</string>
                <key>textureRect</key>
                <string>{{720,1},{42,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_dao_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,57}</string>
                <key>spriteSourceSize</key>
                <string>{42,57}</string>
                <key>textureRect</key>
                <string>{{419,60},{42,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_dao_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,56}</string>
                <key>spriteSourceSize</key>
                <string>{44,56}</string>
                <key>textureRect</key>
                <string>{{563,59},{44,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_dao_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,57}</string>
                <key>spriteSourceSize</key>
                <string>{49,57}</string>
                <key>textureRect</key>
                <string>{{222,63},{49,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_dao_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,57}</string>
                <key>spriteSourceSize</key>
                <string>{46,57}</string>
                <key>textureRect</key>
                <string>{{371,63},{46,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_dao_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{138,1},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_dao_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{200,1},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_dao_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{262,1},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_dao_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{324,1},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_dao_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,56}</string>
                <key>spriteSourceSize</key>
                <string>{49,56}</string>
                <key>textureRect</key>
                <string>{{463,59},{49,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_dao_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,56}</string>
                <key>spriteSourceSize</key>
                <string>{47,56}</string>
                <key>textureRect</key>
                <string>{{514,59},{47,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_dao_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,67}</string>
                <key>spriteSourceSize</key>
                <string>{67,67}</string>
                <key>textureRect</key>
                <string>{{1,1},{67,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_dao_25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,53}</string>
                <key>spriteSourceSize</key>
                <string>{52,53}</string>
                <key>textureRect</key>
                <string>{{115,69},{52,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_dao_33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,57}</string>
                <key>spriteSourceSize</key>
                <string>{47,57}</string>
                <key>textureRect</key>
                <string>{{273,63},{47,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_dao_34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,57}</string>
                <key>spriteSourceSize</key>
                <string>{47,57}</string>
                <key>textureRect</key>
                <string>{{322,63},{47,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_dao_40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,29}</string>
                <key>spriteSourceSize</key>
                <string>{46,29}</string>
                <key>textureRect</key>
                <string>{{764,1},{46,29}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player_dao_41.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,39}</string>
                <key>spriteSourceSize</key>
                <string>{42,39}</string>
                <key>textureRect</key>
                <string>{{741,58},{42,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_dao_49.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,66}</string>
                <key>spriteSourceSize</key>
                <string>{66,66}</string>
                <key>textureRect</key>
                <string>{{70,1},{66,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_dao_50.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,56}</string>
                <key>spriteSourceSize</key>
                <string>{50,56}</string>
                <key>textureRect</key>
                <string>{{430,1},{50,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_dao_52.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,55}</string>
                <key>spriteSourceSize</key>
                <string>{52,55}</string>
                <key>textureRect</key>
                <string>{{578,1},{52,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>player.png</string>
            <key>size</key>
            <string>{794,123}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:41192678a3001a9caaccb7d45ef918ad:12b88b74961621391904f70325de05af:6f6c59c3c6b7e98e5fb22e47122cb74a$</string>
            <key>textureFileName</key>
            <string>player.png</string>
        </dict>
    </dict>
</plist>
